/.idea/misc.xml
/out/production/StatementsAndMethods/com/onenorth/Main.class
/StatementsAndMethods.iml
/.idea/modules.xml
/.idea/encodings.xml
/.idea/project-template.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/.gitignore
